header {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2em;
    background-color: #8a008a;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");

}

