textarea {
    background-color: #f4f1ec;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: vertical;
    width: 100%;
    border-bottom: solid #545149 1px;
    line-height: 1;
}

form div {
    display: flex;
    justify-content: space-between;
  
}

form label {
    font-family: sans-serif;
}

button {
    background-color: #4056A1;
    color: white;
}

.danger {
    color: red;
}

article {
    border: solid  #545149 2px;
    padding: 1em;
    margin-top: 2em;
    font-family: sans-serif;
    
}

article:hover {
    -webkit-box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.21); 
    box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.21);
}

header {
    margin-bottom: 1em;
}

footer {
    border-top: solid  #545149 2px;
    margin-top: 1em;
    padding-top: 1em;
} 